/*style basic*/
*{margin: 0;padding: 0; box-sizing: border-box;}
label{color: black;}
/*style of index-logo*/
.container-fluid .row .login .logo{height:300px;}
.container-fluid .row .login .logo img{width:100%;}
/*style of index-titulo-login*/
.container-fluid .row .login .titulo-login h1{text-align: center;}
/*style of  index-btn-login*/
.container-fluid .row .login  .btn-login button{width:100%;}
/*style of portada*/
.container-fluid .row .portada img { width: 100%;}
.container-fluid .row .portada .guide {position: relative; top:40px; }
.container-fluid .row .portada .guide a{border:2px solid white; padding:5px; color:white; text-decoration: none; }
.container-fluid .row .footer h4{ text-align: center;line-height:78px; color: white;}
.container-fluid .row .footer{background: #005a99;}
/*responsive*/
@media only screen and (max-width:576px){
	.container-fluid .row .login .logo img {height:300px;}
}
@media only screen and (max-width:768px){
	.container-fluid .row .login .logo img {height:300px;}
}
										/*style  of principal*/ 
/*style of principal-admit*/
.container-fluid .row .admit h4{text-align: center; background: #005a99; color: white;}
/*style of  principal-titulo*/
.container-fluid .row .titulo h4{ text-align: center; color: white;}
.container-fluid .row-1{background: #005a99 ; }
.container-fluid .row-2{border-bottom:2px solid #005a99;}
.container-fluid .row-2 a{font-family: Arial, Helvetica, sans-serif;font-size: 15px; text-decoration: none;}
/*style of  principal-username*/
.container-fluid .row .username h4{ text-align: center;}
/*style of  principal-titulo-principal*/
.container-fluid .row .titulo-principal {background: #005a99 ; color: white;}
.container-fluid .row .menu-1 a:hover {background: #005a99 ; color:white;}
.container-fluid .row .menu a:hover {background: #005a99 ; color:white;}
.container-fluid .row .menu {border-right:2px solid #005a99;}
/*Responsive*/
@media only screen and (max-width:1500px){
	.container-fluid .row .menu-1{display:none; border-right:2px solid #005a99;}
	
}
@media only screen and (max-width:992px){
	.container-fluid .row .username h4{font-size:15px;}
}
@media only screen and (max-width:778px){
	.container-fluid .row .username h4{font-size:10px;}
	.container-fluid .row .menu-1 {display:flex; }
	.container-fluid .row .menu {display:none;}
	.container-fluid .row .admit h4{font-size:15px;}
	.container-fluid .row .titulo h4{font-size:15px;}
	.container-fluid .row .titulo-principal h4{font-size:15px;}
}
@media only screen and (max-width:576px){
	.container-fluid .row .username h4{font-size:10px;}
	.container-fluid .row .menu-1 {display:flex; }
	.container-fluid .row .menu {display:none;}
	.container-fluid .row .admit h4{font-size:15px;}
	.container-fluid .row .titulo h4{font-size:15px;}
	.container-fluid .row .titulo-principal h4{font-size:15px;}
}
												/*style of form */
/*style of from-from-5*/
.container .row .form-5   button{ margin-top: 20px;}
											/*style of list students*/
.container .row .search input{margin-left: 50px; margin-top: 10px;}
.container .row .icon-search1 span{font-size:20px; margin-left:50px; line-height:50px;}
											 /*style of reports*/
.container .row .reports { margin-top: 50px;}	
									   /*style of footer*/
 footer{margin-top: 420px; background: #005a99; color: white; }		
 footer h1{font-size: 30px; text-align: center;}				
/*style of icon*/
.container-fluid .row .detalles span{font-size: 30px;}
